body {
  text-align: center;
  margin: 20px auto;
  background: #c2e7ff;
}
a {
  text-decoration: none;
  color: white;
}
p {
  text-align: center;
  margin-top: 100px;
  border: 1px white solid;
  border-radius: 4px;
  background: white;
}
.btns {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  margin-top: 150px;
}
img {
  background-color: white;
}
